name: Basic CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        cache: 'npm'
    - run: npm install -g @stoplight/spectral-cli
    - run: npm install .
    - run: npx zx ./tools/validate-all.mjs
    - run: npx zx ./tools/validate-request-suffix.mjs
    - run: npx zx ./tools/validate-inheritance.mjs

  generate-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        cache: 'npm'
    - run: npm install -g @openapitools/openapi-generator-cli
    - run: openapi-generator-cli version-manager set 7.0.1
    - run: sed -i -e 's/openapi-generator/openapi-generator-cli/g' ./tools/generate-test.mjs
    - name: actions/setup-java@v3 (JDK 17)
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 17
        architecture: x64
    - run: npx zx ./tools/generate-test.mjs

  format-diff:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        cache: 'npm'
    - run: npx zx ./tools/reformat.mjs
    - name: Check there is no diff (Run ./tools/reformat.mjs if there is a diff)
      run: git diff --exit-code
